django>=6.0,<6.1
djangorestframework
djangorestframework-simplejwt
channels
channels-redis
daphne
psycopg2-binary
django-cors-headers
drf-spectacular
pytest-django
factory-boy
sentry-sdk[django]==2.6.0
